.DS_Store
Allergan/
gpa_project/data/
project_course-prediction/output/
ICU_project/
ICU_project/Test/
ICU_project/submit/
Allergan/
Recommendation/
Stackoverflow Exercise/
SGP/data/
gpa_project/data/
project-ICU-data/data/
project-final/data/
Customer Churn/
Customer Segmentation/Customer segmentation-backup.ipynb/
Customer Segmentation/Customer segmentation.ipynb/
Customer Segmentation/data/
Time Series/Timeforcast-simple.ipynb/
Time Series/data/
Customer Churn/
movie recommendation/